<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TicketSchedule</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/redirect2login.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.hitchride.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/servlet/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>googleMapSupporting</display-name>
    <servlet-name>googleMapSupporting</servlet-name>
    <servlet-class>com.hitchride.googleMapSupporting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>googleMapSupporting</servlet-name>
    <url-pattern>/servlet/googleMapSupporting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadPosition</display-name>
    <servlet-name>LoadPosition</servlet-name>
    <servlet-class>com.hitchride.LoadPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPosition</servlet-name>
    <url-pattern>/servlet/LoadPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertGeo</display-name>
    <servlet-name>InsertGeo</servlet-name>
    <servlet-class>com.hitchride.InsertGeo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGeo</servlet-name>
    <url-pattern>/servlet/InsertGeo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.hitchride.servlet.commuteride.SearchCommute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/servlet/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCode</display-name>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.hitchride.servlet.user.CheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/servlet/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hitchride.servlet.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RideCenter</display-name>
    <servlet-name>RideCenter</servlet-name>
    <servlet-class>com.hitchride.servlet.commuteride.CommuteTopicCenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RideCenter</servlet-name>
    <url-pattern>/CommuteTopicCenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.hitchride.servlet.user.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvaterService</display-name>
    <servlet-name>AvaterService</servlet-name>
    <servlet-class>com.hitchride.servlet.user.AvaterService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvaterService</servlet-name>
    <url-pattern>/servlet/AvaterService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipant</display-name>
    <servlet-name>UpdateParticipant</servlet-name>
    <servlet-class>com.hitchride.servlet.commuteride.UpdateParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipant</servlet-name>
    <url-pattern>/servlet/UpdateParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageService</display-name>
    <servlet-name>MessageService</servlet-name>
    <servlet-class>com.hitchride.servlet.MessageService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageService</servlet-name>
    <url-pattern>/servlet/MessageService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusService</display-name>
    <servlet-name>StatusService</servlet-name>
    <servlet-class>com.hitchride.servlet.commuteride.BarginStatusService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusService</servlet-name>
    <url-pattern>/servlet/StatusService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCenter</display-name>
    <servlet-name>UserCenter</servlet-name>
    <servlet-class>com.hitchride.servlet.UserCenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCenter</servlet-name>
    <url-pattern>/servlet/UserCenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.hitchride.servlet.user.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/servlet/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageRide</display-name>
    <servlet-name>ManageRide</servlet-name>
    <servlet-class>com.hitchride.servlet.ManageRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageRide</servlet-name>
    <url-pattern>/servlet/ManageRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTopics</display-name>
    <servlet-name>SearchTopics</servlet-name>
    <servlet-class>com.hitchride.servlet.commuteride.SearchCommuteTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTopics</servlet-name>
    <url-pattern>/servlet/SearchTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mLogin</display-name>
    <servlet-name>mLogin</servlet-name>
    <servlet-class>com.hitchride.m.mLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mLogin</servlet-name>
    <url-pattern>/api/mLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mLoginChecker</display-name>
    <servlet-name>mLoginChecker</servlet-name>
    <servlet-class>com.hitchride.m.mLoginChecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mLoginChecker</servlet-name>
    <url-pattern>/api/mLoginChecker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mPostTransientRide</display-name>
    <servlet-name>mPostTransientRide</servlet-name>
    <servlet-class>com.hitchride.m.mPostTransientRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mPostTransientRide</servlet-name>
    <url-pattern>/api/mPostTransientRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mGetTransientRide</display-name>
    <servlet-name>mGetTransientRide</servlet-name>
    <servlet-class>com.hitchride.m.mGetTransientRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mGetTransientRide</servlet-name>
    <url-pattern>/api/mGetTransientRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mDelTransientRide</display-name>
    <servlet-name>mDelTransientRide</servlet-name>
    <servlet-class>com.hitchride.m.mDelTransientRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mDelTransientRide</servlet-name>
    <url-pattern>/api/mDelTransientRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mMyTransientRide</display-name>
    <servlet-name>mMyTransientRide</servlet-name>
    <servlet-class>com.hitchride.m.mMyTransientRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mMyTransientRide</servlet-name>
    <url-pattern>/api/mMyTransientRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthCheck</display-name>
    <servlet-name>AuthCheck</servlet-name>
    <servlet-class>com.hitchride.servlet.user.AuthCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthCheck</servlet-name>
    <url-pattern>/servlet/AuthCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTransientRide</display-name>
    <servlet-name>SearchTransientRide</servlet-name>
    <servlet-class>com.hitchride.servlet.transientride.SearchTransientRide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTransientRide</servlet-name>
    <url-pattern>/servlet/SearchTransientRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTransientTopic</display-name>
    <servlet-name>SearchTransientTopic</servlet-name>
    <servlet-class>com.hitchride.servlet.transientride.SearchTransientTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTransientTopic</servlet-name>
    <url-pattern>/servlet/SearchTransientTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransientRideCenter</display-name>
    <servlet-name>TransientRideCenter</servlet-name>
    <servlet-class>com.hitchride.servlet.transientride.TransientRideCenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransientRideCenter</servlet-name>
    <url-pattern>/servlet/TransientRideCenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTParticipant</display-name>
    <servlet-name>UpdateTParticipant</servlet-name>
    <servlet-class>com.hitchride.servlet.transientride.UpdateTParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTParticipant</servlet-name>
    <url-pattern>/servlet/UpdateTParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.hitchride.servlet.user.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTMiddlePoint</display-name>
    <servlet-name>UpdateTMiddlePoint</servlet-name>
    <servlet-class>com.hitchride.servlet.transient.UpdateTMiddlePoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTMiddlePoint</servlet-name>
    <url-pattern>/servlet/UpdateTMiddlePoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTopic</display-name>
    <servlet-name>DeleteTopic</servlet-name>
    <servlet-class>com.hitchride.servlet.commuteride.DeleteCommuteTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTopic</servlet-name>
    <url-pattern>/servlet/DeleteTopic</url-pattern>
  </servlet-mapping>
</web-app>