<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TicketSchedule</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.hitchride.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/servlet/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>com.hitchride.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/servlet/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>googleMapSupporting</display-name>
    <servlet-name>googleMapSupporting</servlet-name>
    <servlet-class>com.hitchride.googleMapSupporting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>googleMapSupporting</servlet-name>
    <url-pattern>/servlet/googleMapSupporting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadPosition</display-name>
    <servlet-name>LoadPosition</servlet-name>
    <servlet-class>com.hitchride.LoadPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPosition</servlet-name>
    <url-pattern>/servlet/LoadPosition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertGeo</display-name>
    <servlet-name>InsertGeo</servlet-name>
    <servlet-class>com.hitchride.InsertGeo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGeo</servlet-name>
    <url-pattern>/servlet/InsertGeo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.hitchride.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/servlet/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCode</display-name>
    <servlet-name>CheckCode</servlet-name>
    <servlet-class>com.hitchride.CheckCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCode</servlet-name>
    <url-pattern>/servlet/CheckCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.hitchride.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageCenter</display-name>
    <servlet-name>MessageCenter</servlet-name>
    <servlet-class>com.hitchride.MessageCenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageCenter</servlet-name>
    <url-pattern>/servlet/MessageCenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.hitchride.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvaterService</display-name>
    <servlet-name>AvaterService</servlet-name>
    <servlet-class>com.hitchride.AvaterService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvaterService</servlet-name>
    <url-pattern>/servlet/AvaterService</url-pattern>
  </servlet-mapping>
</web-app>