html, body {
    color: #404040;
    font: 14px/21px "Helvetica Neue",Helvetica,"Lucida Grande",Arial,sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

h3, strong {
font-weight: bold;
}

a {
text-decoration: none;
color: #0d77b6;
}

.hidden {
	display: none;
}
	
input[type="text"].hidden
{
	display: none;
}	
#header_wrap
{
	margin : 0 auto;
	width: 990px;
}
#header_wrap #logo_wrap
{
	display: block;
	position: absolute;
	padding: 15px 60px 4px;
	line-height: 14px;
	margin: 0 auto;
	width: 350px;
	height:125px;
}

#logo
{
	padding-top:2px;
	width: 319px;
	height:123px;
	background: url('/TicketSchedule/Picture/hitridelogo.jpg');
}

#header_wrap #user_info_wrap
{
	display: block;
    position: absolute;
    left: 780px;
 	line-height: 14px;
	margin: 60px 100px 0px;
	width: 300px;
	height:75px;
}



#action .item {
	position: relative;
	padding: 18px 20px;
}

#action h2 {
font-size: 20px;
font-weight: 500;
margin-bottom: 5px;
}

#action p {
font-size: 12px;
color: #777;
}

#action .postride a.button {
	position: absolute;
	right: 20px;
	top: 25px;
}


.button {
display: inline-block;
position: relative;
height: 25px;
line-height: 25px;
font-size: 14px;
font-weight: 500;
text-align: center;
padding: 0 12px;
color: #404040;
background-clip: padding-box;
border: 1px solid #a7a7a7;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #eeeeee;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1));
background-image: -webkit-linear-gradient(#ffffff,#e1e1e1);
background-image: -moz-linear-gradient(#ffffff,#e1e1e1);
background-image: -o-linear-gradient(#ffffff,#e1e1e1);
background-image: -ms-linear-gradient(#ffffff,#e1e1e1);
background-image: linear-gradient(#ffffff,#e1e1e1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e1e1e1);
}

.button.post {
display: inline-block;
position: relative;
height: 25px;
line-height: 25px;
font-size: 14px;
font-weight: 500;
text-align: center;
padding: 0 12px;
color: #404040;
background-clip: padding-box;
border: 1px solid #a7a7a7;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
background-color: #eeeeee;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e1e1e1));
background-image: -webkit-linear-gradient(#ffffff,#e1e1e1);
background-image: -moz-linear-gradient(#ffffff,#e1e1e1);
background-image: -o-linear-gradient(#ffffff,#e1e1e1);
background-image: -ms-linear-gradient(#ffffff,#e1e1e1);
background-image: linear-gradient(#ffffff,#e1e1e1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e1e1e1);
font-weight: normal;
border-color: #aaa;
background-color: #ffe58f;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffefb9), color-stop(100%, #ffdc63));
background-image: -webkit-linear-gradient(#ffefb9,#ffdc63);
background-image: -moz-linear-gradient(#ffefb9,#ffdc63);
background-image: -o-linear-gradient(#ffefb9,#ffdc63);
background-image: -ms-linear-gradient(#ffefb9,#ffdc63);
background-image: linear-gradient(#ffefb9,#ffdc63);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffefb9, endColorstr=#ffdc63);
}



.ride_list .entry {
padding: 12px;
overflow: hidden;
color: #333;
border-bottom: 1px solid #b9b9b9;
background-color: #fdfdfd;
}


.ride_list .entry .passenger_box {
float: right;
text-align: center;
width: 75px;
height: 65px;
padding: 6px;
}

.ride_list .entry .passenger_box p {
padding-top: 4px;
font-size: 12px;
line-height: 1.3em;
color: #555;
}

.ride_list .entry .passenger_box p .icon {
display: block;
margin: 0 auto 3px auto;
width: 24px;
height: 22px;
background: url(/TicketSchedule/Picture/passenger_flat.png) no-repeat left 0px;
}

.ride_list .entry .price_box {
float: right;
text-align: center;
border: 1px solid #7a8494;
padding: 5px;
width: 75px;
height: 65px;
background-color: #fff;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.5)), color-stop(100%, rgba(255,255,255,0.8)));
background-image: -webkit-linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.8));
background-image: -moz-linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.8));
background-image: -o-linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.8));
background-image: -ms-linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.8));
background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.8));
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
}

.ride_list .entry .price_box .seats {
width: 70px;
height: 38px;
}

.ride_list .entry .price_box .count {
float: left;
font-size: 34px;
line-height: 34px;
width: 21px;
text-align: left;
font-weight: bold;
margin: 0 4px 0 9px;
}

.ride_list .entry .price_box .left {
float: left;
font-size: 12px;
width: 28px;
font-weight: 500;
text-align: left;
line-height: 1.3em;
vertical-align: top;
padding-top: 3px;
}

.ride_list .entry .price_box p {
border-top: 1px solid #ccc;
padding-top: 4px;
font-size: 12px;
}

strong, b {
font-weight: bold;
}


.userpic {
height: 75px;
width: 75px;
float: left;
margin-right: 12px;
position: relative;
overflow: hidden;
border: 2px solid #1199ea;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}

.userpic .username {
background: #666;
background-color: rgba(0,0,0,0.5);
color: #fff;
position: absolute;
bottom: 0;
width: 56px;
padding: 2px;
line-height: 15px;
padding-right: 17px;
font-size: 11px;
vertical-align: bottom;
}

.userpic img {
width: 75px;
height: 75px;
}

.userpic span.passenger {
background: url(/TicketSchedule/Picture/button_passenger_icon.png) 0 -28px no-repeat;
}

.userpic span {
height: 14px;
width: 14px;
position: absolute;
bottom: 2px;
right: 2px;
}

#user_info
{
	margin-top:30px
}
#user_level
{
	vertical-align: bottom;
}

.ride_list .entry .inner_content {
float: left;
vertical-align: top;
padding-top: 0px;
width: 415px;
}

.ride_list .entry .inner_content h3 {
font-size: 18px;
font-weight: 500;
margin-bottom: 0;
padding-bottom: 3px;
width: 415px;
display: inline-block;
overflow: hidden;
}

.ride_list .entry .inner_content h3 span.inner {
display: inline-block;
}

.ride_list .entry h3 span.inner {
border-bottom: 1px solid transparent;
}

.ride_list .entry .inner_content .trip_type.round_trip {
background: url(../2/images/round_trip_medium.png) no-repeat center 0;
}

.ride_list .entry .inner_content .trip_type {
display: inline-block;
width: 15px;
height: 11px;
padding: 0 8px;
opacity: 0.7;
}



/*------------------------------------ Header --------------------------------*/
#header_wrap {
    padding-bottom: 7px;
    position: relative;
    width: 100%;
    z-index: 101;
}
/*------------------------------------ --- --------------------------------*/

/*------------------------------------ Content --------------------------------*/
#content_wrapper {
    margin: 123px auto;
    width: 990px;
}

#content_container {
    margin: 0 auto;
    padding: 15px 15px 4px 15px;
    width: 1000px;
}






#action .postride a.button {
	position: absolute;
	right: 20px;
	top: 25px;
}





/*------------------------------------ Content --------------------------------*/


/*------------------------------------ Footer --------------------------------*/

#footer {
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0 30px;
    text-align: center;
    width: 940px;
}

.header_nav_wrapper
{
	position: relative;
	top: 95px;
	left: 475px;
	width: 500px;
}



.btn-primary{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #00cc6d;
	background-image: -moz-linear-gradient(top, #00cc88, #00cc44);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00cc88), to(#00cc44));
	background-image: -webkit-linear-gradient(top, #00cc88, #00cc44);
	background-image: -o-linear-gradient(top, #00cc88, #00cc44);
	background-image: linear-gradient(to bottom, #05B336, #00CC83);
	background-repeat: repeat-x;
	border-color: #00cc44 #00cc44 #00802a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00cc88', endColorstr='#ff00cc44', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]{
	color: #ffffff;
	background-color: #00cc6d;
}
