.user_wrapper
{
	display: block;
	position: relative;
	float: left;
	padding: 15px 10px 4px 10px;
	line-height: 14px;
	margin: 0 auto;
	width: 210px;
	height:300px;
}

.user_info
{
	display:block;
	border: 1px;
	width:210px;
	height:125px;
		
}

.userpic
{
	height: 75px;
	width: 75px;
	float: left;
	margin-right: 12px;
	position: relative;
	overflow: hidden;
	border: 2px solid #1199ea;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}



#message_wrapper
{
	display:block;
	border:1px;
	position:relative;
	float: left;
	padding: 15px 20px 4px 10px;
	width:500px;
	height:500px;
}

#message_wrapper textarea
{
	background: #FFFFFF url('/TicketSchedule/Picture/bg_input_text.gif') top repeat-x;
	border: 1px solid #C1D5E8;
	float: left;
	font-size: 16px;
	height: 300px;
	line-height: 1.3em;
	padding: 4px 3px 3px 3px;
	width: 450px;

}

#sendbutton
{
	background-clip: padding-box;
	background-color: #5BA53C;
	background-image: linear-gradient(#8ABC6B, #579544);
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.6);
	color: #FFFFFF !important;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	height: 28px;
	line-height: 28px;
	padding: 0 25px;
	position: relative;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.discussion_timeline_wrapper
{
	display: block;
	position: relative;
	float: left;
	padding: 15px 10px 4px 10px;
	line-height: 14px;
	margin: 0 auto;
	width: 500px;
}

.entry
{
	display: block;
	postion: relative;
	height: 120px;
}

.topic_wrapper
{
	display: block;
	postion: relative;
	float: right;
	width: 200px;
	padding: 15px 10px 4px 10px;
}

.schedule_wrapper
{
	display: block;
	postion: relative;

	
}

.bargain_wrapper
{
	display: block;
	postion: relative;
}
