#avatarFile
{
   border: 1px solid #cccccc;
   background-color: #ededed;
}
#divUploadAvatar
{
    clear: both;
    width: 500px;
    margin-top: 5px;
}
#divContenter
{
    width: 300px;
    height: 300px;
    background: #ffffff;
    float: left;
    border: 1px solid #ccc;
}
#divBG
{
    height: 300px;
    background-repeat: no-repeat;
}
#divCuter
{
    border: 2px solid orange;
    height: 175px;
    width: 175px;
}
#divAvatarInfo
{
    margin: auto auto auto 10px;
    float: left;
    width: 180px;
}
#divImgAvatar
{
    border: 1px solid #D5DFE1;
    width: 175px;
    height: 175px;
    margin-left: 165px;
}
#imgAvatarView
{
    width: 175px;
    height: 175px;
}
#divUploadTxt
{
    color: #999999;
    margin: 15px 10px auto 0px;
}
#divUploadBtn
{
    margin: 15px 10px auto 0px;
}
#divSaveInfo
{
    margin: 5px 10px auto 0px;
    font-weight: bold;
}
.btnAvatar
{
    background-color: #ededed;
    height: 23px;
    border: solid 1px #cdcbcb;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}

#register
{
	background: #6ea953 url('/assets/bg_button_confirm.gif') top repeat-x scroll;
	border: 1px solid #2f571c;
	border-bottom-color: #284d17;
	color: #FFFFFF;
	padding: 5px 15px;
	float: right; 
	margin-right: 50px;
	margin-top: 150px;
}  

#reg_fld
{
	border: 1px solid #D5DFE1;
	border-top-width: 2px;
	padding-top:10px;
	padding-bottom:10px;
}

.required:focus
{
	border-color: #229BF9;
}

.optional:focus{
	border-color: #229BF9;
}

.requiredErr
{
	border-color: #FF0000 !important;
}

.error
{
	 background: none repeat scroll 0 0 #FFEBEB;
	 border: 1px solid #FFBDBE;
	 color: #FF0000;
	 float: left;
	 padding: 5px;
	 margin: 0 4px;
	 display: none;
}

dd input{
	width: 238px !important;
}

.imgPos{
	padding: 8px 4px;
	display: none;
}