#map-canvas {
position: relative; 
float: right;
width: 320px;
height: 300px;
margin-left: 30px;
background-color: rgb(229, 227, 223); 
overflow: hidden;
 -webkit-transform: translateZ(0px);
}


#content #info {
width: 320px;
margin-left: 20px;
float: right;
}

#info .floatable {
width: 320px;
position: absolute;
}


.floatwrap.fixed {
width: 320px;
position: fixed;
top: 0;
margin-top: 20px;
}